.steps{
  display: flex;
  transform: rotate(335deg);

  }
.fi-foot{

  font-size: 3.5em;
  padding: .5em;
  border: 0em;
  transform: rotate(45deg);
}
.footone{
  transform: rotate(90deg) scaleX(1);
  position: relative;
  /*top: .5em;
  left: .5em;*/

  } .footthree{
  transform: scaleX(1) rotate(95deg) translate(-1em);
  position: relative;

  /*top: .5em;
  left: .5em;*/

}
.foottwo{
  transform: rotate(65deg) translate(5em) scaleX(-1);

}
body{
  margin: 10px;
}
  header{
  background-color: white;
  color: #669933;
  margin: 0px;
  padding: 1em;
  border: 0px;
  margin-left: .5em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.subheader{
  color: #669933;
  margin-left: .5em;
}
.boxes{
  display: flex;
}
.box{
  padding: .25em;
  border: .25em;
  border-width: thin;
  border-style: solid;
  border-color: #953255;
  color: white;
  background-color: #669933;
  margin: .5em;
}
.profile-pic{
  border-radius: 50%;
  width: 6em;
  text-align: right;
}
.search{
  margin-top: .5em;
  background-color: #49475B;
  color:#14080E;

}

h1{
  font-family: 'Scope One', serif;
  background-color: white;
  color: #669933;

}
body{
  background-color: #669933;
}
H2{
  font-family: 'Scope One', serif;
  color: #953255;
}
H4{
  font-family: 'Droid Sans', sans-serif;
  color: white;
}
.color{
  color:white;
  font-weight: bold;

}
.color-combos{
  background-color: #669933;
  display: flex;
}
.color{
  padding: .5em;
  border-style: solid;
  border-color: black;
}

#gray{
  background-color: #49475B;
}
#purple{
  background-color: #953255;
}
#black{
  background-color: #14080E;
}
#white{
  background-color: #FFFFFF;
  color: black;
}
#green{
  background-color: #669933;
}
/*body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}*/
.commentCount, .comments{
  color: #49475B;
}
