.steps{
  padding-top: 5%;
  padding-left: 15%;
  display: flex;
  transform: rotate(340deg);

  }
.fi-foot{
  font-size: 3.5em;
  padding: .5em;
  border: 0em;
  transform: rotate(45deg);
}
.footone{
  transform: rotate(90deg) scaleX(1) translate(1.4em);
  position: relative;
  /*top: .5em;
  left: .5em;*/

  } .footthree{
  transform: scaleX(1) rotate(95deg) translate(-1.75em);
  position: relative;

  /*top: .5em;
  left: .5em;*/

}
.foottwo{
  transform: rotate(65deg) translate(4em) scaleX(-1);

}
body{
  margin: 10px;
}
header{
  height: 10em;
  background-color: white;
  color: #669933;
  margin: 0px;
  padding: 1em;
  border: 0px;
  margin-left: .5em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.left{
  display: flex;
  align-items: baseline;
}
.subheader{
  color: #669933;
  margin-left: .5em;
}
.boxes{
  display: flex;
}
.box{
  padding: .25em;
  border: .25em;
  border-width: thin;
  border-style: solid;
  border-color: #953255;
  color: white;
  background-color: #669933;
  margin: .5em;
}
.profile-pic{
  border-radius: 50%;
  width: 6em;
  text-align: right;
}
.search{
  margin-top: .5em;
  background-color: #49475B;
  color:#14080E;

}

h1{
  font-family: 'Scope One', serif;
  background-color: white;
  color: #669933;

}
body{
  background-color: #669933;
}
H2{
  font-family: 'Scope One', serif;
  color: #953255;
}
H4{
  font-family: 'Droid Sans', sans-serif;
  color: white;
}
.color{
  color:white;
  font-weight: bold;

}
.color-combos{
  background-color: #669933;
  display: flex;
}
.color{
  padding: .5em;
  border-style: solid;
  border-color: black;
}

#gray{
  background-color: #49475B;
}
#purple{
  background-color: #953255;
}
#black{
  background-color: #14080E;
}
#white{
  background-color: #FFFFFF;
  color: black;
}
#green{
  background-color: #669933;
}
.graphics{
  display: flex;
  align-items:flex-start;
}
.trail-photo{
  padding-right: 10%;
}
.comment-form-fields{
  display: flex;
  align-self: flex-start;
  margin-top: .5em;
  margin-bottom: .5em;
}
.name-form-field{
  margin-right: .5em;
  margin-left: .5em;
}
.story-form-field{

}
.commentCount, .comments, .call-to-post{
  color: #49475B;
}
.call-to-post{
  font-family: 'Droid Sans', sans-serif;
}

.onecomment{
  padding: .5em;
  background-color: white;
  margin: .5em;
}
.commentauthor{
  color: #49475B;
}

.commentbody{
  color: #953255;
  font-size: 1.5em;
}
.user-input{
  display: flex;
  justify-content: space-between;
}
.star-box{
  margin-top: 5%;
  margin-right: 10%;
  color: white;
  width: 30%;
  font-size: 3em;
  display: inline-flex;
  justify-content: space-around;
}
.box-search{
  width: 100%;
}
.img-responsive{
  width: 100%;
  margin: 0px;
  border: 0px;
}
.splash{
  width: 100%;
  margin: 0%;
}
.star-one:hover{
  color: yellow;
}
.star-two:hover{
  color: yellow;
}
.star-three:hover{
  color: yellow;
}
.star-four:hover{
  color: yellow;
}
.star-five:hover{
  color: yellow;
}
.thumbnail {
    position: relative;
}

.caption {
    color: white !important;
    position: absolute;
    font-weight: bold;
    background-color: rgba(0,0,0,.6);
    top: -35%;
    left: 0;
    width: 20%;
    margin: 40%;

}
